<body class="px-10 py-20 font-ibmplex font-regular text-slate-800 bg-slate-200">
  <form [formGroup]="searchForm">
    <div class="searchInput active">
      <input
        type="text"
        formControlName="searchVal"
        placeholder="Search.."
      />
     <!-- {{searchLoaderObs$ | async}} -->
      <div class="resultBox">
        <li (click)="openUrl(result['url'])" *ngFor="let result of searchQuery$ | async">
          {{ result["title"] }}
        </li>
        
      </div>
      <div class="icon"><i class="fas fa-search"></i></div>
    </div>
  </form>

  <section class="flex flex-col mx-auto w-full max-w-4xl">
    <h1 class="block font-merriweather font-black text-3xl py-6">Events</h1>
    <div
      *ngFor="let article of allArticles$ | async as allArticles"
      class="my-2 flex items-center"
    >
      <div
        class="flex flex-row p-4 bg-slate-50 rounded-xl shadow-md shadow-slate-200/40 hover:shadow-lg hover:shadow-slate-400/40 transition-shadow"
      >
        <!-- <div class="flex flex-col items-center justify-center w-48 h-24 px-5 py-5 font-merriweather bg-rose-100 rounded-lg">
        <div class="text-sm font-bold font-ibmplex">{{allArticles.length}}</div>
        <div class="text-3xl font-bold">23:00</div>
      </div> -->
        <div class="flex flex-col justify-center pl-6">
          <h2 class="font-merriweather font-black text-xl pb-4">
            {{ article.name }}
          </h2>
          <p class="text-sm" [innerHTML]="article.body"></p>
        </div>
      </div>
      <!-- <div class="text-xs bg-slate-50 p-4 rounded-r-md shadow-md shadow-slate-200/40 hover:cursor-pointer hover:bg-slate-900 hover:text-slate-50"><span class="text-sm">+</span> Add to calendar </div> -->
    </div>

    <div #scrollAnchor style="text-align: center">Please wait...</div>
  </section>
</body>
